<h2 class="text-center" *ngIf="!showForm">Logging in...</h2>
<div class="form-signin text-center" id="submitForm" *ngIf="showForm">
  <h1 class="h3 mb-3 font-weight-normal">{{ formText }}</h1>
  <label for="password" class="sr-only">Password</label>
  <input
    (keyup)="keyChange($event)"
    type="password"
    id="password"
    name="inputString"
    class="form-control"
    placeholder="Password"
    autofocus
  />
  <button
    class="btn btn-lg btn-primary btn-block"
    type="button"
    value="Subscribe"
    (click)="submitPassword()">
    {{ formSubmitText }}
  </button>
  <div class="form-control" id="result" style="visibility: hidden"></div>
</div>
