<div class="col p-2" style="width: 200px;" >
  <div class="text-center rounded pb-2" style="background-color: bisque; height: 320px;">
    <img [src]="!pokedata.shiny ? pokedata.sprites.front_default : pokedata.sprites.front_shiny" [class.blackout]="pokedata.seen == 0">
    <br>
    <span *ngIf="pokedata.female">♀</span>
    <span *ngIf="pokedata.male">♂</span>
    <span *ngIf="pokedata.shiny">✨</span>
    <br>
    #{{ pokedata.id }}: {{ pokedata.name.charAt(0).toUpperCase() + pokedata.name.slice(1)}}
    <br>
    <span *ngFor="let type of pokedata.types">
      {{ type.type.name.charAt(0).toUpperCase() + type.type.name.slice(1) }}
    </span>
    <br>
    Seen: {{ pokedata.seen }}
    <div *ngIf="pokedata.seen > 0">
      <small>
        First spotted:<br>
        {{ pokedata.date }}<br>
        Lat: {{ pokedata.latitude }}<br>
        Long: {{ pokedata.longitude }}
      </small>
    </div>
  </div>
</div>