<nav class="navbar navbar-light bg-light navbar-expand-md">
  <span class="navbar-brand mb-0 h1">
    <img src="/assets/logo.png" height="30" alt="">
  </span>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" [class.active]="getRouterUrl() === '/anonymous'">
        <a class="nav-link" routerLink="/anonymous">Anonymous</a>
      </li>
      <li class="nav-item" [class.active]="getRouterUrl() === '/playerstat'">
        <a class="nav-link" routerLink="/playerstat">Player Stats</a>
      </li>
      <li class="nav-item" [class.active]="getRouterUrl() === '/spottedview'">
        <a class="nav-link" routerLink="/spottedview">Spotted View</a>
      </li>
      <li class="nav-item" [class.active]="getRouterUrl() === '/spotter'">
        <a class="nav-link" routerLink="/spotter">Pokémon Spotter</a>
      </li>
    </ul>
  </div>
  <div class="form-inline">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="readLocalStorageValue('user')">
        <span class="nav-link">
          {{ readLocalStorageValue('user') }}
        </span>
      </li>
      <li class="nav-item" *ngIf="!readLocalStorageValue('logged_in')">
        <button class="nav-link btn" routerLink="/login">Login</button>
      </li>
      <li class="nav-item" *ngIf="readLocalStorageValue('logged_in')">
        <button class="nav-link btn" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
